<div class="body">

  <div class="container">
    <h2>Pastas</h2>
    <table class="menu" *ngIf="pastas$ | async as pastas">
      <colgroup>
        <col class="id">
        <col class="name">
        <col class="description">
        <col class="price">
        <col class="plus">
      </colgroup>
      <tr *ngFor="let pasta of pastas">

        <td>{{pasta.id}}</td>
        <td>{{pasta.name}}</td>
        <td>{{pasta.description}}</td>
        <td>{{pasta.price}} $</td>
        <td>
          <span *ngIf="!pasta.isAvailable">not available</span>
          <button class="plus_button" *ngIf="pasta.isAvailable" (click)="addToCart(pasta)">+</button>
        </td>
      </tr>
    </table>
  </div>
</div>
