.body{
  display:flex;
  justify-content: center;
}

.container {
  display: flex;
  flex: 0 0 600px;
  max-width: 600px;
  background-color: #E0DFD5;
  justify-content: center;
}

.display {
  width: 100%;
}

.address {
  width: 50%;
}

.dishes {
  width: 50%;
}
