<div class="body">
  <div class="container">
    <table class="display">
      <tr>
        <td class="address">
          <div *ngIf="order">
            <p>Name: {{order.address.firstName}} {{order.address.lastName}}</p>
            <p>City: {{order.address.city}}</p>
            <p>Street: {{order.address.lastName}}</p>
            <p>Apartment: {{order.address.apartment}}</p>
            <p>Floor: {{order.address.floor}}</p>
          </div>
        </td>
        <td class="dishes">
          <table class="menu">
            <colgroup>
              <col class="id">
              <col class="name">
              <col class="description">
              <col class="price">
            </colgroup>
            <tr *ngFor="let dish of dishes">

              <td>{{dish.id}}</td>
              <td>{{dish.name}}</td>
              <td>{{dish.description}}</td>
              <td>{{dish.price}} $</td>

            </tr>
          </table>
        </td>
      </tr>
    </table>
    <button (click)="deleteOrder()" routerLink="/orders/"></button>
  </div>
</div>
