<div class="body">
  <div class="container">
    <h2>Orders</h2>
    <table class="menu">
      <colgroup>
        <col class="id">
        <col class="address">
        <col class="dishes">
        <col class="status">
        <col class="date">
      </colgroup>
      <tr *ngFor="let order of orders" >
        <td >{{order.id}}</td>
        <td >{{order.address.city}}, {{order.address.street}} {{order.address.apartment}}</td>
        <td >{{order.dishes}} </td>
        <td >{{order.status}}</td>
        <td >{{order.date | date:'HH:mm:ss'}} </td>
      </tr>
    </table>
</div>
</div>
