
<div class="body">
  <div class="container">
    <h2>Cart</h2>
    <table class="menu">
      <colgroup>
        <col class="id">
        <col class="name">
        <col class="price">
        <col class="minus">
      </colgroup>
      <tr *ngFor="let dish of dishes">
        <td >{{dish.id}}</td>
        <td >{{dish.name}}</td>
        <td >{{dish.price}} $</td>
        <td ><button class="plus_button" (click)="remove(dish)">-</button></td>
      </tr>
    </table>
    <button class="checkout" [disabled]="dishes.length===0" routerLink="/address">Checkout</button>
  </div>
</div>
