h2{
  text-align: center;
}

.form-group {
  padding: 5px;
}

.ng-valid[required], .ng-valid.required  {
  border: 1px solid #ccc;
  border-radius: 4px;
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border: 1px solid #ccc;
  border-radius: 4px;
  border-left: 5px solid #a94442; /* red */
}

.ng-valid[optional],.ng-valid.optional{
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type=text]{
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  resize: vertical;
}

button[type=submit] {
  align-self: end;
  max-width: fit-content;
  padding: 12px 20px;
  border: none;
  margin-top: 30px;
  margin-bottom: 10px;
  background-color: #70C1B3;
  border: 2px solid #247BA0;
  border-radius: 10px;
  cursor: pointer;
}

.submit_container{
  display: flex;
  justify-content: center;
}
