<div class="body">
  <div class="container">
    <h2>Pizzas</h2>
    <table class="menu">
      <colgroup>
        <col class="id">
        <col class="name">
        <col class="description">
        <col class="price">
        <col class="plus">
      </colgroup>
      <tr *ngFor="let pizza of pizzas">

        <td>{{pizza.id}}</td>
        <td>{{pizza.name}}</td>
        <td>{{pizza.description}}</td>
        <td>{{pizza.price}} $</td>
        <td><button (click)="addToCart(pizza)">+</button></td>

      </tr>
    </table>
  </div>
</div>

