.body{
  display:flex;
  justify-content: center;
  padding: 10px;
}

h2{
  text-align: center;
}

table {
  border-collapse: collapse;
  min-width: 600px;
  width: 100%;
}
tr, td{
  border-bottom: 1px solid #70C1B3;
  padding: 15px;
  text-align: left;
}

.id {
  width: 5%;
}

.name{
  width: 25%;
}

.description{
  width: 50%;
}

.price{
  width: 15%;
}

.plus{
  width: 5%;
}


