<div class="body">
  <div class="container">
    <h2>Pizzas</h2>
    <table class="menu" *ngIf="pizzas$ | async as pizzas" >
      <colgroup>
        <col class="id">
        <col class="name">
        <col class="description">
        <col class="price">
        <col class="plus">
      </colgroup>
      <tr *ngFor="let pizza of pizzas">

        <td>{{pizza.id}}</td>
        <td>{{pizza.name}}</td>
        <td>{{pizza.description}}</td>
        <td>{{pizza.price}} $</td>
        <td>
          <span *ngIf="!pizza.isAvailable">not available</span>
          <button class="plus_button" *ngIf="pizza.isAvailable" (click)="addToCart(pizza)">+</button>
        </td>

      </tr>
    </table>
  </div>
</div>

