.top_bar {
  display:flex;
  justify-content: flex-end;
  min-width: 100%;
  min-height: 30px;
  background-color: #247BA0;

}
/* Style the tab */
.tab {
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  padding: 1px 20px;
  border: 2px solid #70C1B3;
  background-color: #B2DBBF;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-family: Calibri;
  font-size: 20px;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Create an active/current tablink class */
.tab button:active {
  background-color: #70C1B3;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #FF1654;
}



/* Style the tab content */
.tabcontent {
  display: flex;
  justify-content: space-around;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


