<div class="body">
  <div class="container">
    <h2>Dishes</h2>
    <table class="menu">
      <colgroup>
        <col class="id">
        <col class="name">
        <col class="price">
        <col class="available">
      </colgroup>
      <tr *ngFor="let dish of dishes">
        <td>{{dish.id}}</td>
        <td>{{dish.name}}</td>
        <td>{{dish.price}} $</td>
        <td><label><input id="check" type="checkbox" [checked]=dish.isAvailable (change)="modifyAvailability(dish)">Available</label></td>
      </tr>
    </table>
  </div>
</div>

